<div class="dummy-phone">
  <div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "screenshot1.png" %>
        </div>

        <div class="carousel-item">
          <%= image_tag "screenshot2.png" %>
        </div>

        <div class="carousel-item">
          <%= image_tag "screenshot3.png" %>
        </div>

        <div class="carousel-item">
          <%= image_tag "screenshot4.png" %>
        </div>
      </div>
    </div>
  </div>
</div>