<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
  <a href="#" class="list-group-item list-group-item-action">Change Password</a>
  <a href="#" class="list-group-item list-group-item-action">Apps und Websites</a>
  <a href="#" class="list-group-item list-group-item-action">Email and SMS</a>
  <a href="#" class="list-group-item list-group-item-action">Push Notifications</a>
  <a href="#" class="list-group-item list-group-item-action">Manage Contacts</a>
  <a href="#" class="list-group-item list-group-item-action">Privacy and Security</a>
  <a href="#" class="list-group-item list-group-item-action">Login Activity</a>
  <a href="#" class="list-group-item list-group-item-action">Emails from Instagram</a>
  <a href="#" class="list-group-item list-group-item-action">Help</a>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
</div>